
<div class="header">
  <a href="index.html">
    <img class="logo" src="../assets/img/logo.png" />
  </a>
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
<label for="openSidebarMenu" class="sidebarIconToggle">
  <div class="spinner diagonal part-1"></div>
  <div class="spinner horizontal"></div>
  <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
  <ul class="sidebarMenuInner">
    <li><a href="#" target="_blank">Action</a></li>
    <li><a href="#" target="_blank">Adventure</a></li>
    <li><a href="#" target="_blank">Animation</a></li>
    <li><a href="#" target="_blank">Comedy</a></li>
    <li><a href="#" target="_blank">Crime</a></li>
    <li><a href="#" target="_blank">Documentary</a></li>
    <li><a href="#" target="_blank">Drama</a></li>
  </ul>
</div>

<div id="center" class="main center">

  <div class="container">

    <!-- Début partie spécifique home page -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let movie of movies">
        <div class="card">
          <a [routerLink]="['/card', movie.id]">
            <img src="{{movie.poster_path}}" />
            <p>{{movie.original_title}}</p>
          </a>
        </div>
        <br>
      </div>

    </div>
    <!-- Fin partie spécifique home page -->

  </div>
</div>
